* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.navbar {
  background-color: #a6bd79;
}

.logo {
  width: 100px;
}

h1 {
  color: black;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

h2 {
  color: black;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
}

h3 {
  color: black;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  text-align: center;
}

footer {
  background-image: linear-gradient(to bottom, #a6bd79, #d4f09e);
  margin-top: 20px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 30px;
  text-align: right;
}
footer p {
  color: black;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
}
footer a {
  color: black;
  text-decoration: none;
}
footer h6 {
  color: black;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  font-weight: bold;
  text-align: right;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bolder;
  text-align: left;
  flex-grow: 0;
  margin-right: 20px;
  margin-left: 80px;
}

.seccion-1 {
  background-color: white;
}
.seccion-1 h1 {
  padding-top: 100px;
}
.seccion-1 .card-group .card img {
  width: 340px;
  height: 150px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
}

.seccion-2 {
  padding-top: 50px;
}
.seccion-2 .row .col .card img {
  width: 340px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
}

.seccion-3 .card-body {
  background-color: #c8f372;
}
.seccion-3 h4 {
  font-weight: bolder;
  text-align: center;
}
.seccion-3 p {
  font-family: monospace;
  font-size: 15px;
  text-align: justify;
}

.capacitaciones h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.capacitaciones div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
  .seccion-1 {
    width: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .seccion-1 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .seccion-1 {
    width: 100%;
  }
}
.secciones {
  padding-top: 50px;
}
.secciones .card-header {
  background-color: #a6bd79;
  padding-bottom: 20px;
  padding-top: 20px;
}
.secciones img {
  width: 30px;
}

.contacto h2 {
  padding-top: 100px;
}
.contacto .container {
  padding-top: 50px;
}
.contacto .container button {
  margin-top: 40px;
  margin-bottom: 20px;
}

.info {
  padding-left: 20px;
}

.ubicacion .card-header {
  background-color: #a6bd79;
  margin-top: 20px;
}
.ubicacion h2 {
  padding-bottom: 50px;
}
.ubicacion h3 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.ubicacion iframe {
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 140px;
  width: 900px;
}

body {
  padding-top: 70px;
}

.card {
  margin-top: 50px;
}
.card .card-header {
  background-color: #a6bd79;
  padding-bottom: 20px;
  padding-top: 20px;
}
.card .card-body {
  background-color: white;
}
.card .card-text {
  font-family: monospace;
  font-weight: bold;
  text-align: justify;
}

.especialidades .card-header {
  background-color: #a6bd79;
  padding-top: 20px;
  padding-bottom: 20px;
}
.especialidades .especialidades-1 {
  display: grid;
  grid-template-columns: 30px auto auto auto;
  align-items: center;
}
.especialidades .especialidades-1 h3 {
  text-align: center;
}
.especialidades .especialidades-1 p {
  font-weight: bold;
  font-size: 12px;
  text-align: justify center;
}
.especialidades .especialidades-1 img {
  width: 300px;
  height: 150px;
}
.especialidades .especialidades-2 {
  display: grid;
  grid-template-columns: 200px 300px 300px;
  column-gap: 40px;
}
.especialidades .especialidades-2 h3 {
  text-align: center;
}
.especialidades .especialidades-2 p {
  font-weight: bold;
  font-size: 15px;
  text-align: justify center;
}
.especialidades .especialidades-2 img {
  width: 300px;
  height: 150px;
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
  .especialidades {
    width: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .especialidades {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .especialidades {
    width: 100%;
  }
}
.general .card-header {
  background-color: #a6bd79;
  padding-bottom: 20px;
  padding-top: 20px;
}
.general .atencion h2 {
  padding-top: 80px;
  padding-bottom: 40px;
}
.general .atencion-1 {
  align-self: baseline;
  display: flex;
  text-align: justify;
}
.general .atencion-1 img {
  width: 300px;
  height: 180px;
  padding: 10px;
  margin-left: 70px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
  object-fit: cover;
}
.general .atencion-1 .atencion-2 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 10px;
  padding-right: 15px;
}

.general-1 {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  padding-bottom: 30px;
  text-align: center;
}

.general-1os {
  display: grid;
  grid-template-columns: 350px 300px 200px;
  margin-left: 180px;
}
.general-1os img {
  width: 250px;
}
.general-1os p {
  color: black;
  font-weight: bold;
  text-align: justify;
  margin: 0 0 0 10px;
}

/*# sourceMappingURL=estilo.css.map */
