* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.navbar {
  background-color: #CEE5D0;
  margin: 0 auto;
}
.navbar .navbar-nav .nav-link {
  color: black;
  font-weight: bolder;
}

.logo {
  width: 80px;
  height: auto;
}

h1 {
  color: black;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

h2 {
  color: black;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
}

h3 {
  color: black;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  text-align: center;
}

footer {
  background-image: linear-gradient(to bottom, #CEE5D0, #D3E4CD);
  margin-top: 20px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 30px;
  text-align: right;
}
footer .redes {
  display: inline-flex;
  padding-bottom: 20px;
}
footer p {
  color: black;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
footer a {
  color: black;
  text-decoration: none;
}
footer h6 {
  color: black;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  font-weight: bold;
  text-align: right;
}
footer .fab {
  width: 50px;
  height: 20px;
  font-size: 30px;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bolder;
  text-align: left;
  flex-grow: 0;
  margin-right: 20px;
  margin-left: 80px;
}

.inicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.inicio img {
  width: 336px;
  height: 146px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
  border: 2px solid;
  box-shadow: 2px 2px 10px black;
}
.inicio .inicio-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.inicio .inicio-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.inicio .inicio-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.inicio .inicio-4 {
  background-color: #D3E4CD;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: justify;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 575px) {
  .inicio .inicio-1 {
    grid-column: 1/-1;
  }
  .inicio .inicio-1 img {
    width: 236px;
    height: 96px;
  }

  .inicio .inicio-2 {
    grid-column: 1/-1;
  }
  .inicio .inicio-2 img {
    width: 236px;
    height: 96px;
  }

  .inicio .inicio-3 {
    grid-column: 1/-1;
  }
  .inicio .inicio-3 img {
    width: 236px;
    height: 96px;
  }

  .inicio .inicio-4 {
    grid-column: 1/-1;
    font-size: 13px;
    font-family: "Nunito", sans-serif;
  }
}
@media screen and (max-width: 767px) {
  .inicio .inicio-1 {
    grid-column: 1/-1;
  }

  .inicio .inicio-2 {
    grid-column: 1/-1;
  }

  .inicio .inicio-3 {
    grid-column: 1/-1;
  }

  .inicio .inicio-4 {
    grid-column: 1/-1;
  }
  .inicio .inicio-4 p {
    font-size: 13px;
    font-family: "Nunito", sans-serif;
  }
  .inicio .inicio-4 li {
    font-size: 13px;
    font-family: "Nunito", sans-serif;
  }
}
@media screen and (max-width: 991px) {
  .inicio .inicio-1 {
    grid-column: 1/-1;
  }

  .inicio .inicio-2 {
    grid-column: 1/-1;
  }

  .inicio .inicio-3 {
    grid-column: 1/-1;
  }

  .inicio .inicio-4 {
    grid-column: 1/-1;
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .inicio .inicio-1 {
    grid-column: 1fr 1fr 1fr;
  }

  .inicio .inicio-2 {
    grid-column: 1fr 1fr 1fr;
  }

  .inicio .inicio-3 {
    grid-column: 1fr 1fr 1fr;
  }

  .inicio .inicio-4 {
    grid-column: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1400px) {
  .inicio .inicio-1 {
    grid-column: 1fr 1fr 1fr;
  }

  .inicio .inicio-2 {
    grid-column: 1fr 1fr 1fr;
  }

  .inicio .inicio-3 {
    grid-column: 1fr 1fr 1fr;
  }

  .inicio .inicio-4 {
    grid-column: 1fr 1fr 1fr;
  }
}
.secciones {
  padding-top: 60px;
}
.secciones .card-header {
  background-color: #C8E3D4;
  padding-bottom: 20px;
  padding-top: 20px;
}
.secciones img {
  width: 30px;
}
.secciones .secciones-1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 20px;
  margin-top: 20px;
  justify-items: center;
}
.secciones .secciones-1 .info {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
  margin-top: 60px;
  margin-right: 50px;
}
.secciones .secciones-1 .info img {
  width: 50px;
  height: 40px;
}
.secciones .secciones-1 .formulario {
  background-color: #D3E4CD;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  grid-column: span 2;
}
.secciones .secciones-1 form {
  width: 450px;
  margin: auto;
  background: black;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
}
.secciones .secciones-1 form h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.secciones .secciones-1 form input, .secciones .secciones-1 form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
}
.secciones .secciones-1 form textarea {
  min-height: 70px;
  max-height: 100px;
  max-width: 100%;
}
.secciones .secciones-1 form .btn {
  background: #99A799;
  color: black;
  font-weight: bolder;
  padding: 20px;
}
.secciones .secciones-1 form .btn #boton:hoover {
  cursor: pointer;
}
.secciones .card-header1 {
  background-color: #C8E3D4;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 40px;
}
@media screen and (max-width: 575px) {
  .secciones .card-header {
    padding-top: 40px;
  }
  .secciones .secciones-1 .info {
    grid-column: 1/-1;
    justify-content: center;
    font-size: 13px;
  }
  .secciones .secciones-1 .formulario {
    width: 100%;
    grid-column: 1/-1;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .secciones .secciones-1 .info {
    grid-column: 1/-1;
    justify-content: center;
    font-size: 13px;
  }
  .secciones .secciones-1 .formulario {
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .secciones form {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .secciones form {
    width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .secciones form {
    width: 80%;
  }
}

.ubicacion .card-header {
  background-color: #99A799;
  margin-top: 20px;
}
.ubicacion h2 {
  padding-bottom: 50px;
}
.ubicacion h3 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.ubicacion iframe {
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 140px;
  width: 700px;
  align-content: center;
}
@media screen and (max-width: 575px) {
  .ubicacion iframe {
    width: 50%;
    align-content: center;
  }
}
@media screen and (max-width: 767px) {
  .ubicacion iframe {
    width: 50%;
    align-content: center;
  }
}
@media screen and (max-width: 991px) {
  .ubicacion iframe {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .ubicacion iframe {
    width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .ubicacion iframe {
    width: 80%;
  }
}

body {
  padding-top: 70px;
}

.nosotros {
  padding-top: 60px;
}

.card {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.card .card-header {
  background-color: #C8E3D4;
  padding-bottom: 10px;
  padding-top: 20px;
}
.card .card-body {
  background-color: white;
}
.card .card-text {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: justify;
}

.general {
  padding-top: 60px;
}

.card-header {
  background-color: #C8E3D4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.especialidades {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.especialidades div {
  border-style: outset;
  border-width: 4px solid;
}
.especialidades img {
  width: 300px;
  height: 150px;
}
.especialidades .especialidades-1 {
  background-color: #F5F4F4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 40px;
}
.especialidades .especialidades-1 h3 {
  font-family: "Nunito", sans-serif;
  font-size: 27px;
}
.especialidades .especialidades-1 p {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  padding-top: 10px;
}
.especialidades .especialidades-1 img {
  width: 300px;
  height: 150px;
  border: 2px solid;
  box-shadow: 2px 2px 10px black;
}
.especialidades .especialidades-2 {
  background-color: #FFFDF9;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 40px;
}
.especialidades .especialidades-2 h3 {
  font-family: "Nunito", sans-serif;
  font-size: 27px;
}
.especialidades .especialidades-2 p {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  padding-top: 10px;
}
.especialidades .especialidades-2 img {
  width: 300px;
  height: 150px;
  border: 2px solid;
  box-shadow: 2px 2px 10px black;
}

@media screen and (max-width: 575px) {
  .especialidades .especialidades-1 {
    grid-column: 1fr;
  }
  .especialidades .especialidades-1 img {
    width: 200px;
    height: 100px;
  }
  .especialidades .especialidades-1 h3 {
    font-size: 18px;
  }

  .especialidades .especialidades-1 p {
    font-size: 13px;
  }

  .especialidades .especialidades-2 {
    grid-column: 1/3;
  }
  .especialidades .especialidades-2 img {
    width: 200px;
    height: 100px;
  }
  .especialidades .especialidades-2 h3 {
    font-size: 18px;
  }

  .especialidades .especialidades-2 p {
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  .especialidades .especialidades-1 {
    grid-column: 1/-1;
  }

  .especialidades .especialidades-2 {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 1200px) {
  .especialidades .especialidades-1 {
    grid-column: 1fr 1fr 1fr;
  }

  .especialidades .especialidades-2 {
    grid-column: 1fr 1fr 1fr;
  }
}
.servicios {
  padding-top: 60px;
}

.card-header {
  background-color: #C8E3D4;
  padding-bottom: 20px;
  padding-top: 20px;
}
.card-header h2 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.contenedor {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 5px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenedor div {
  border-style: outset;
  border-width: 4px solid;
}
.contenedor img {
  width: 280px;
  height: 180px;
  padding: 10px;
  margin-left: 70px;
  margin-right: 50px;
  margin-bottom: 50px;
  object-fit: cover;
  border: 2px solid;
  box-shadow: 2px 2px 10px black;
}
.contenedor .atencion {
  background-color: #F5F4F4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.contenedor .texto {
  background-color: #D3E4CD;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor .texto p {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 10px;
  padding-right: 15px;
}

.noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  grid-gap: 20px;
}
.noticias div {
  border-style: outset;
  border-width: 4px solid;
}
.noticias .obrasoc {
  background-color: #F5F4F4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.noticias .obrasoc li {
  list-style: none;
  color: black;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.noticias .novedades-1 {
  background-color: #D3E4CD;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.noticias .novedades-1 .card-header {
  background-color: #99A799;
}
.noticias .novedades-1 img {
  padding-bottom: 15px;
  padding-top: 15px;
}
.noticias .novedades-2 {
  background-color: #F5F4F4;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  padding-top: 30px;
  padding-right: 10px;
}
.noticias .novedades-2 li {
  list-style: none;
  color: black;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 575px) {
  .card-header {
    padding-top: 40px;
  }

  .contenedor .atencion {
    grid-column: 1/-1;
    justify-content: center;
  }
  .contenedor .atencion img {
    width: 200px;
    height: 100px;
  }
  .contenedor .atencion h3 {
    font-size: 18px;
  }

  .contenedor .texto {
    grid-column: 1/-1;
    font-size: 13px;
  }

  .noticias .obrasoc {
    grid-column: 1/-1;
  }
  .noticias .obrasoc li {
    font-size: 15px;
  }

  .noticias .novedades-1 {
    grid-column: 1/-1;
  }
  .noticias .novedades-1 img {
    width: 250px;
    height: 150px;
  }

  .noticias .novedades-2 {
    grid-column: 1/-1;
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .contenedor .atencion {
    grid-column: 1/-1;
  }

  .contenedor .texto {
    grid-column: 1/-1;
  }

  .noticias .obrasoc {
    grid-column: 1/-1;
  }

  .noticias .novedades-1 {
    grid-column: 1/-1;
  }

  .noticias .novedades-2 {
    grid-column: 1/-1;
  }
  .noticias .novedades-2 li {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  .contenedor .atencion {
    grid-column: 1/-1;
  }

  .contenedor .texto {
    grid-column: 1/-1;
  }

  .noticias .obrasoc {
    grid-column: 1/-1;
  }

  .noticias .novedades-1 {
    grid-column: 1/-1;
  }

  .noticias .novedades-2 {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 1200px) {
  .contenedor .atencion {
    grid-column: 1fr 1fr 1fr;
  }

  .contenedor .texto {
    grid-column: 1fr 1fr 1fr;
  }

  .noticias .obrasoc {
    grid-column: 1fr 1fr 1fr;
  }

  .noticias .novedades-1 {
    grid-column: 1fr 1fr 1fr;
  }

  .noticias .novedades-2 {
    grid-column: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1400px) {
  .contenedor .atencion {
    grid-column: 1fr 1fr 1fr;
  }

  .contenedor .texto {
    grid-column: 1fr 1fr 1fr;
  }

  .noticias .obrasoc {
    grid-column: 1fr 1fr 1fr;
  }

  .noticias .novedades-1 {
    grid-column: 1fr 1fr 1fr;
  }

  .noticias .novedades-2 {
    grid-column: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=estilo.css.map */
