.secciones{

    .card-header{
        background-color: #a6bd79;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    padding-top: 50px;

        img{
            width:30px;
        }
}
.contacto{

    h2{
        padding-top: 100px;
    }
    .container{
        padding-top: 50px;

        button{
            margin-top: 40px;
            margin-bottom: 20px;
        }
        }
}
.info{
    padding-left: 20px;
}
.ubicacion{

    .card-header{
        background-color: #a6bd79;
        margin-top: 20px;
    }

    h2{
        padding-bottom: 50px;
    }
    h3{
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;

    }
    iframe{
        padding-bottom: 50px;
        padding-top: 40px; 
        padding-left: 140px;
        width: 900px;
    }
}


    