.card-header{
    background-color: #E2C2B9;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.especialidades{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    


    img{
        width: 300px;
        height: 150px;
    }

    .especialidades-1{
        background-color: #F2DDC1;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        align-items: center;
        justify-content: center;

        h3{
            font-family: 'Fuzzy Bubbles', cursive;
            font-size: 27px;
        }

        p{
            font-family: 'Fuzzy Bubbles', cursive;
            font-size: 17px;
            padding-top: 10px;
        }
    }

    .especialidades-2{
        background-color: #F2DDC1;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        align-items: center;
        justify-content: center;

        h3{
            font-family: 'Fuzzy Bubbles', cursive;
            font-size: 27px;
        }

        p{
            font-family: 'Fuzzy Bubbles', cursive;
            font-size: 17px;
            padding-top: 10px;
        }
    }

}

@media screen and (max-width: $xxs) {
    .especialidades .especialidades-1 {
        grid-column: 1fr;
        img {width: 200px;
            height: 100px;
        }
        h3{
            font-size: 18px;
        }
    }
    .especialidades .especialidades-1 p{
        font-size: 13px;
    }
    .especialidades .especialidades-2 {
     grid-column: 1 / 3;
     img {width: 200px;
        height: 100px;
    }
    h3{
        font-size: 18px;
    }
     }
    .especialidades .especialidades-2 p{
        font-size: 13px;
    }
 }

 
 @media screen and (max-width: $sm) {
    .especialidades .especialidades-1 {
        grid-column: 1 / -1;
    }
    .especialidades .especialidades-2 {
     grid-column: 1 / -1;
     }
 }
 
 @media screen and (max-width: $md) {
    .especialidades .especialidades-1 {
             grid-column: 1fr 1fr 1fr;
         }
    .especialidades .especialidades-2 {
          grid-column: 1fr 1fr 1fr;
         }
        }