.especialidades{

    .card-header{
        background-color: #a6bd79;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .especialidades-1{
        display: grid;
        grid-template-columns: 30px auto auto auto;
        align-items: center;
        
        h3{
            text-align: center;
        }
        
        p{
            font-weight:bold ;
            font-size: 12px;
            text-align:justify center;
        }
        img{
            width: 300px;
            height: 150px;
        }
    }


    .especialidades-2{
        display: grid;
        grid-template-columns: 200px 300px 300px;
        column-gap: 40px; 

        h3{
            text-align: center;
        }
        
        p{
            font-weight:bold ;
            font-size: 15px;
            text-align:justify center;
        }
        
        img{
            width: 300px;
            height: 150px;
        }
}
}

@media screen and (min-width: 780px) and (max-width:1024px){
    .especialidades {
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width:780px) {
    .especialidades {
        width: 100%;
    }
}
@media screen and (max-width:480px){
    .especialidades {
        width: 100%;
    }
}