.navbar-nav{
    .nav-link{
    color: black;
    font-weight: bolder;
    text-align: left;
    flex-grow: 0;
    margin-right: 20px;
    margin-left: 80px;
    }
}
.inicio{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    img{
        width: 340px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: center;
        border: 2px solid;
        box-shadow: 2px 2px 10px rgba(0,0,0, 2);
    }
    .inicio-1{
        background-color: #F2DDC1;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        align-items: center;
        justify-content: center;
}
    .inicio-2{
    background-color: #D3E4CD;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    align-items: center;
    justify-content: center;
}
    .inicio-3{
    background-color: #F2DDC1;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    align-items: center;
    justify-content: center;
}
    .inicio-4{
    background-color: #D3E4CD;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-family:'Fuzzy Bubbles';
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}
}

@media screen and (max-width: $xxs) {
    .inicio .inicio-1 {
        grid-column: 1 / -1;
        img{
            width: 240px;
            height: 100px;
        }
    }
    .inicio .inicio-2 {
     grid-column: 1 / -1;
     img{
        width: 240px;
        height: 100px;
    }
     }
 
    .inicio .inicio-3{
         grid-column: 1 / -1;
         img{
            width: 240px;
            height: 100px;
        }
     }
    .inicio .inicio-4{
         grid-column: 1 / -1;
         font-size: 13px;
         font-family: 'Nunito', sans-serif;
     }
 }
 @media screen and (max-width: $xs) {
    .inicio .inicio-1 {
        grid-column: 1 / -1;
    }
    .inicio .inicio-2 {
     grid-column: 1 / -1;
     }
 
    .inicio .inicio-3{
         grid-column: 1 / -1;
     }
    .inicio .inicio-4{
         grid-column: 1 / -1;
         p{
             font-size: 13px;
             font-family: 'Nunito', sans-serif;
         }
         li{
            font-size: 13px;
            font-family: 'Nunito', sans-serif;
         }
     }
  }
 @media screen and (max-width: $sm) {
    .inicio .inicio-1 {
        grid-column: 1 / -1;
    }
    .inicio .inicio-2 {
     grid-column: 1 / -1;
     }
 
    .inicio .inicio-3{
         grid-column: 1 / -1;
     }
    .inicio .inicio-4{
         grid-column: 1 / -1;
         font-size: 20px;
     }
 
     }
 @media screen and (max-width: $md) {
    .inicio .inicio-1 {
        grid-column: 1fr 1fr 1fr;
    }
    .inicio .inicio-2 {
     grid-column: 1fr 1fr 1fr;
     }
 
    .inicio .inicio-3{
         grid-column: 1fr 1fr 1fr;
     }
    .inicio .inicio-4{
         grid-column:1fr 1fr 1fr;
     }
 }
 @media screen and (max-width: $lg) {
    .inicio .inicio-1 {
        grid-column: 1fr 1fr 1fr;
    }
    .inicio .inicio-2 {
     grid-column: 1fr 1fr 1fr;
     }
 
    .inicio .inicio-3{
         grid-column: 1fr 1fr 1fr;
     }
    .inicio .inicio-4{
         grid-column:1fr 1fr 1fr;
     }
 }