body{
    padding-top: 70px;
}
.card{
    margin-top: 50px;

    .card-header{
        background-color: #E2C2B9;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .card-body{
        background-color: white;
    }
    .card-text{
        font-family:'Nunito', sans-serif;
        font-weight: bold;
        text-align: justify;
        
    }
}