body{
    padding-top: 70px;
}
.nosotros{
    padding-top: 60px;
}
.card{
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;

    .card-header{
        background-color: #C8E3D4;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .card-body{
        background-color: white;
        
    }
    .card-text{
        font-family:'Nunito', sans-serif;
        font-weight: bold;
        text-align: justify;
        
        
    }
}