*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.navbar{
    background-color:#a6bd79;
}
.logo{
    width: 100px;
}
h1{
    color: black;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}
h2{
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}
h3{
    color: black;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}
h5{
    text-align: center;
}
footer{
    background-image: linear-gradient(to bottom, #a6bd79 , #d4f09e );
	margin-top: 20px;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 30px;
    text-align: right;
    

        p{ 
            color: black;
            letter-spacing: 1px;
            font-size: 10px;
            font-weight: bold;
        }
        a{
            color: black;
            text-decoration: none;
        }
        h6{
            color: black;
            letter-spacing: 1px;
            font-size: 10px;
            font-weight: bold;
            font-weight: bold;
            text-align: right;
        }
}

@media screen and (min-width: 780px) and (max-width:1024px){
    
}

@media screen and (min-width: 480px) and (max-width:780px) {
    
}
@media screen and (max-width:480px){
    
}