.general{

    .card-header{
        background-color: #a6bd79;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .atencion{
        h2{
            padding-top: 80px;
            padding-bottom: 40px;
        }
    }
    .atencion-1{

        align-self: baseline;
        display: flex;
        text-align: justify;
        
        img{
            width: 300px;
            height: 180px;
            padding: 10px; 
            margin-left:70px; 
            margin-right: 50px;
            margin-bottom: 50px;
            border: 2px solid black;  
            object-fit: cover;
        }
        .atencion-2{
            color:black;
            font-weight: bold;
            text-align: center;
            margin: 0 0 0 10px;
            padding-right: 15px;
        }    
    }
}
.general-1{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    padding-bottom: 30px;
    text-align: center;
}
.general-1os{
    display: grid;
    grid-template-columns: 350px 300px 200px;
    margin-left: 180px;

    img{
        width: 250px;
    }
    p{
        color:black;
        font-weight: bold;
        text-align: justify;
        margin: 0 0 0 10px;
    }

}








